body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;   
}
#box1{
    background-color: rgb(219, 169, 169);
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#box2{
    background-color: rgb(161, 161, 207);
    margin: 50px;
}
#box3{
    background-color: rgb(72, 175, 115);
    margin-left: auto;
}
#box4{
    background-color: rgb(72, 146, 175);
    margin: auto;
}

